[dn]
CN=195.133.197.8

[req]
distinguished_name = dn
prompt = no
req_extensions = v3_ca

[alt_names]
IP.0 = 195.133.197.8

[v3_ca]
subjectAltName=@alt_names
keyUsage=digitalSignature
extendedKeyUsage=serverAuth
