[ req ]
distinguished_name = dn
prompt = no
req_extensions = v3_req

[ dn ]
CN = client.skala-r.loc

[ v3_req ]
subjectAltName = @alt_names
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1 = client.skala-r.loc
IP.1  = 192.168.191.156

