[ req ]
prompt             = no
distinguished_name = req_distinguished_name
x509_extensions    = v3_ca
days               = 3650

[ req_distinguished_name ]
C  = RU
ST = Moscow
L  = Moscow
O  = SELF
OU = CA
CN = skala-r.loc Root CA

[ v3_ca ]
basicConstraints = critical, CA:TRUE, pathlen:0
keyUsage         = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always

